@tailwind base;
@tailwind components;
@tailwind utilities;

/* Roboto font */

/* These CSS variables are global, so they are available in all CSS modules */
:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--0: #242a2e;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: #d6dee0;

  /* Custom */
  --primary: #fcbc44;
  --primary-shade: #ee9e08;
  --primary-shade-for-checkbox: #c8860a;
  --toastify-icon-color-error: var(--primary-shade);
  --toastify-icon-color-success: var(--primary-shade);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
}

label {
  font-size: 1.6rem;
  font-weight: 600;
}

input,
textarea {
  width: 100%;
  padding: 0.8rem 1.2rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

input:focus {
  outline: none;
  background-color: #fff;
}

.cta:link,
.cta:visited {
  display: inline-block;
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 5px;
}

/* CUSTOM STYLES */
/* .checkbox:checked {
  background-color: #e3a227; /* Change the background color when checked
} */

.custom-overflow-y-scroll {
  overflow-y: scroll !important;
}

/* Prevent body scroll */
body {
  overflow: hidden !important;
}

/* Allow sidebar scroll */
.sidebar {
  overflow-y: scroll !important;
}

/* Change the font size of h1*/
h1 {
  font-size: medium;
}

p {
  font-size: small;
}

/* Change the MUI Tabs font size */
[class*="MuiButtonBase-root"][class*="-MuiTab-root"] {
  font-size: small !important;
}

/* Change the MUI Tabs indicator colour */
[class*="MuiTabs-indicator"] {
  background-color: var(--primary) !important;
}

/* Change the MUI Input font size */
[class*="MuiInputBase-input"][class*="-MuiOutlinedInput-input"],
[class*="MuiSelect-select"][class*="MuiInputBase-input"][class*="-MuiOutlinedInput-input"] {
  font-size: small !important;
}

/* Change the MUI button font size and colour */
[class*="MuiButtonBase-root"][class*="-MuiButton-root"] {
  font-size: small !important;
  background-color: var(--primary-shade) !important;
}

/* Change MUI switch colour */
.MuiSwitch-switchBase.Mui-checked {
  color: var(--primary) !important;
}
.MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
  background-color: var(--primary-shade) !important;
}

/* Change checkbox colour */
input {
  accent-color: var(--primary-shade-for-checkbox) !important;
}

/*
"importCSSModule": {
    "prefix": "csm",
    "scope": "javascript,typescript,javascriptreact",
    "body": ["import styles from './${TM_FILENAME_BASE}.module.css'"],
    "description": "Import CSS Module as `styles`"
  },
*/

.MuiButton-contained {
  background-color: var(--primary-shade) !important;
  font-size: 1rem !important;
}

.Toastify__toast-body {
  font-size: 1.4rem !important;
  font-weight: 500 !important;
}

.Toastify__progress-bar--success {
  background: var(--primary-shade) !important;
}

.Toastify__progress-bar--error {
  background: var(--primary-shade) !important;
}

/* Override success toast position to show from right */
.Toastify__toast-container--top-right {
  top: 1em;
  right: 1em;
}

/* Ensure consistent toast styling */
.Toastify__toast {
  border-radius: 4px !important;
  box-shadow:
    0 1px 10px 0 rgba(0, 0, 0, 0.1),
    0 2px 15px 0 rgba(0, 0, 0, 0.05) !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--primary-shade) !important;
}
